Museo_Demo_Gruppo_22/Gruppo_22_Data/sharedassets1.assets filter=lfs diff=lfs merge=lfs -text
Museo_Demo_Gruppo_22/Gruppo_22_Data/sharedassets1.assets.resS filter=lfs diff=lfs merge=lfs -text
Progetto_Museo_Storia_Gruppo22/Gruppo_22/Assets/Antica[[:space:]]Roma/Giulio[[:space:]]Cesare/source/CESAR.obj filter=lfs diff=lfs merge=lfs -text
Progetto_Museo_Storia_Gruppo22/Gruppo_22/Assets/Antica[[:space:]]Roma/Jupiter_und_Ganymed/textures/Jupiter_Ganymed_O.001_baseColor_0.png filter=lfs diff=lfs merge=lfs -text
Progetto_Museo_Storia_Gruppo22/Gruppo_22/Assets/Dinosauri/Jurassic_Park_Gate/textures/Gate_normal_2.png filter=lfs diff=lfs merge=lfs -text
Progetto_Museo_Storia_Gruppo22/Gruppo_22/Assets/Import/Hintze_Hall/textures/NHMHintzeHall02_Model_9_u1_v1_diffuse_0.png filter=lfs diff=lfs merge=lfs -text
Progetto_Museo_Storia_Gruppo22/Gruppo_22/Assets/Import/Hintze_Hall/textures/NHMHintzeHall02_Model_9_u1_v1_diffuse_1.png filter=lfs diff=lfs merge=lfs -text
Progetto_Museo_Storia_Gruppo22/Gruppo_22/Assets/Oggetti[[:space:]]Abbellimento/moenete/source/mh_2000_2_74a_inv_v1/mh_2000_2_74a_inv.obj filter=lfs diff=lfs merge=lfs -text
C:/Users/andre/Documents/GitHub/Progetto_Museo_Storia_Gruppo22/Gruppo_22/Assets/Pezzi[[:space:]]Museo/Obelisco[[:space:]]Particolare/texture/Nepomuk_C_Nepomuk_O.png filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Oggetti[[:space:]]Abbellimento/moenete/source/mh_2000_2_74a_inv_v1/mh_2000_2_74a_inv.obj filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Pezzi[[:space:]]Museo/Obelisco[[:space:]]Particolare/source/Nepomuk_C_Nepomuk_O.png filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Pezzi[[:space:]]Museo/Obelisco[[:space:]]Particolare/textures/Nepomuk_C_Nepomuk_O.png filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Pezzi[[:space:]]Museo/Piazza[[:space:]]centro/source/model.obj filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Pezzi[[:space:]]Museo/Secondo[[:space:]]Obelisco/source/Nepomuk_C_Nepomuk_O.png filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Pezzi[[:space:]]Museo/Secondo[[:space:]]Obelisco/textures/Nepomuk_C_Nepomuk_O.png filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Pezzi[[:space:]]Museo/Statua[[:space:]]Angolo[[:space:]]2/source/Nepomuk_C_Nepomuk_O.png filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Pezzi[[:space:]]Museo/Statua[[:space:]]Angolo[[:space:]]2/textures/Nepomuk_C_Nepomuk_O.png filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Pezzi[[:space:]]Museo/Statua[[:space:]]Angolo[[:space:]]2/source/Nepomuk_C.zip filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Reperti[[:space:]]Museo/Diplodocus/source/NHMW-Geo-1909-0004-0003_Diplodocus_neu_lowres2smo.obj filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Reperti[[:space:]]Museo/Nettuno/source/NEPTUNE.ogj filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Library/Artifacts/42/42442a8279719c7f32c75abb1d854c04 filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Library/Artifacts/6b/7bac6f2f6c6453b45e527f8079607a71 filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Library/Artifacts/bf/bf81bd2a7e6f7fa8a474cfcbad973158 filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Library/Artifacts/d0/d007b4e2986dfe9f8f3626127fa56653 filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Library/PlayerDataCache/Win64/Data/sharedassets1.assets filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Library/PlayerDataCache/Win64/Data/sharedassets1.assets.resS filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Library/Artifacts/6b/6bac6f2f6c6453b45e527f8079607a71 filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Reperti[[:space:]]Museo/Nettuno/source/NEPTUNE.ogj filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Import/Hintze_Hall/textures/NHMHintzeHall02_Model_9_u2_v1_diffuse_1.png filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Import/Hintze_Hall/textures/NHMHintzeHall02_Model_9_u1_v1_diffuse_0.png filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Antica[[:space:]]Roma/Giulio[[:space:]]Cesare/source/CESAR.obj filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Antica[[:space:]]Roma/Jupiter_und_Ganymed/textures/Jupiter_Ganymed_O.001_baseColor_0.png filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Dinosauri/Jurassic_Park_Gate/textures/Gate_normal_2.png filter=lfs diff=lfs merge=lfs -text
Gruppo_22/Assets/Reperti[[:space:]]Museo/Nettuno/source/NEPTUNE.obj filter=lfs diff=lfs merge=lfs -text
